# Build directory
build

# Compiled MEX files
*.mex
*.mexglx
*.mexw32
*.mexw64
*.mexa64
*.mexmaci64

# Information about compliex MEX files
*.info

# Various temporary files
*.o
*~
*.asv

# Quilt
.pc/applied-patches
.pc/*.patch
